{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if age > 18 %}
        <p>tu es un pointeur</p>
    {% else %}
        <p>que fait tu ici</p>
    {% endif %}
    <p>Le touitheur</p>
{% endblock %}