{% extends 'base.html.twig' %}

{% block title %}Hello!
{% endblock %}

{% block body %}
	<section class="touites">
		{% for touites in touites %}
			<article>
				<div class="content">
					{{ touites.content | raw }}
					<a href="{{ path('touites_show', {'id' : touites.id}) }}" class="btn btn-primary">Lire la suite</a>
				</div>
				<div class="metadata">Poster le
					{{ touites.createdAt | date('d/m/Y') }}
					à
					{{ touites.createdAt | date('H:i') }}
					par User</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}
