{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<article>
		<div class="content">
			{{ touite.content | raw }}
			<a href="{{ path('touites') }}" class="btn btn-primary">Retour aux Touites</a>
		</div>
		<div class="metadata">Poster le
			{{ touite.createdAt | date('d/m/Y') }}
			à
			{{ touite.createdAt | date('H:i') }}
			par User</div>
	</article>
{% endblock %}
